<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}">
    <mat-card-header>
        <mat-card-title *ngIf="!fullWidthMode" class="truncate hover:whitespace-normal">{{product.name}}</mat-card-title>
        <mat-card-title *ngIf="fullWidthMode">{{product.name}}</mat-card-title>
    </mat-card-header>
    <div [ngClass]="{flex: fullWidthMode && !mobile}">
        <img class="mb-1 mx-auto h-[200px]"
            [ngClass]="{'h-[200px]': !fullWidthMode, 'h-200px': fullWidthMode}"
            src="{{imagePath + product.imagePath}}"
        />
        <div class="w-full"
            [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
            <div>
                <p *ngIf="!fullWidthMode" class="truncate hover:whitespace-normal">{{product.description}}</p>
                <p *ngIf="fullWidthMode">{{product.description}} </p>
                <p> Stock: {{product.stock}}</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400"> {{ product.sellingPrice | currency }}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>